.form {
  margin-top: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  width: 100%
}

.form .text {
  padding: 12px 16px;
  align-items: center;
  width: calc(100% - 20px - 20px);
  border-radius: 12px; 
  border: none;
}

.form textarea {
  height: 30vh;
}

.form button {
  width: 200px;
  margin: auto;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 500px;
  border: 1px solid #1f8bca;
  background-color: white;
  color: black;
}

button:hover {
  border: 2px solid #1f8bca;
}

button:active {
  background-color: #1f8bca;
  color: white;
}
