.people {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0; 
  padding: 20px;
}

.people input {
  padding: 12px 16px;
  align-items: center;
  width: calc(100% - 20px - 20px);
  border-radius: 12px; 
  border: none;
}

.interestFilters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap; 
  overflow: scroll;
  align-items: center;
  align-content: center; 
}

.interestFilter {
  border: 1px solid #1F8BCA;
  padding: 8px;
  border-radius: 16px;
  margin: 0;
}

.interestFilter:hover {
  border: 2px solid #1f8bca;
}

.interestFilter:active {
    background-color: #1F8BCA;
    color: white;
}

#clicked {
    background-color: #1F8BCA;
    color: white;
}

